{% extends 'base.html.twig' %}
{% block title %}Unauthorized{% endblock %}
{% block body %}
    <div class="container vh-100">
        <div class="row align-items-center vh-100">
            <div class="col-lg-6 mx-auto my-auto">
                <h1 class="display-1">Unauthorized</h1>
                <p>We don't know who you are! Try logging in to access this resource.</p>
            </div>
        </div>
    </div>
{% endblock %}
