{% extends 'base.html.twig' %}
{% block title %}Forbidden{% endblock %}
{% block body %}
    <div class="container vh-100">
        <div class="row align-items-center vh-100">
            <div class="col-lg-6 mx-auto my-auto">
                <h1 class="display-1">Forbidden</h1>
                <p>Sorry, but you don't have access to this resource.</p>
            </div>
        </div>
    </div>
{% endblock %}
